{% extends 'base_enrollee.html' %}
{% load i18n %}

    {% block title %}Enrollee home{% endblock %}

    {% block content %}
        <h2 class="text-center">{% trans 'Welcome enrollee' %}</h2>
            <div class="list-group">
                <a href="{% url 'faculty_list' %}" class="list-group-item text-center">{% trans "Choose faculties" %}</a>
                <a href="{% url 'enrollee_info' %}" class="list-group-item text-center">{% trans "Show my info"%}</a>
                <a href="{% url 'enrollee_faculties' %}" class="list-group-item text-center">{% trans "Show my faculties" %}</a>
            </div>
    {% endblock %}