{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
     <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Custom styles -->
</head>
<body>
<div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="text-center col-lg-8 col-lg-offset-2">
                    <h3 class="title">{% trans "Fill in the gaps:"%}</h3>
                    <div>
                        <form action="http://127.0.0.1:8000/register/" method="post"> {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name" class="col-sm-3 control-label">{% trans "First Name" %}</label>
                                    <div class="col-sm-9">
                                        <input name="first_name" id="first_name" placeholder="First Name" class="form-control" required>
                                     </div>
                            </div>
                            <div class="form-group">
                                <label for="second_name" class="col-sm-3 control-label">{% trans "Last Name"%}</label>
                                    <div class="col-sm-9">
                                        <input name="second_name" id="second_name" placeholder="Last Name" class="form-control" required>
                                    </div>
                            </div>
                            <div class="form-group">
                            <label for="login" class="col-sm-3 control-label">{% trans "login"%}</label>
                                <div class="col-sm-9">
                                     <input name="name" id="login" placeholder="login" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                            <label for="email" class="col-sm-3 control-label"> Email </label>
                                <div class="col-sm-9">
                                    <input name="email" type="email" id="email" placeholder="Email" class="form-control" required>
                                </div>
                            </div>
                        <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">{% trans "Password"%}</label>
                         <div class="col-sm-9">
                          <input name= "password" type="password" id="password" placeholder="Password" class="form-control" required>
                         </div>
                       </div>
                         <div class="form-actions"><button  class="btn btn-primary">{% trans "Create account"%}</button></div>
                    </form>
                    <div><a href="{% url 'index' %}">Home</a></div>
                    </div>
                    <p>
                       {{ info }}
                    </p>
                </div>
            </div>
        </div>
    </div>
      <ul class="text-center list-group">  <li class="list-group-item"><form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
        <label>
            <select class="select" name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
        </select>
        </label>
        <input type="submit"  class="btn btn-primary" value= "Change" />
    </form>
      </li>
      </ul>
</body>
</html>